# Coursera_Capstone
The Battle of the Neighborhoods
---

This python notebook will be used to set up the tasks for the capstone project for IBM Data Science Professional Certificate.

In [1]:
import pandas as pd
import numpy as np
print('Hello Capstone Project Course!')

Hello Capstone Project Course!

In [2]:
wiki = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df = pd.read_html(wiki, flavor='html5lib')
df = df[0]

In [3]:
df = df[df['Borough'] != 'Not assigned']
df.reset_index(drop=True, inplace=True)

All neighbourhoods have names assigned:

In [4]:
(df['Neighbourhood'] != 'Not assigned').unique()

array([ True])

In [5]:
df.shape[0]

103

In [6]:
ll = pd.read_csv('http://cocl.us/Geospatial_data')
ll.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [7]:
df = pd.merge(df, ll, how='left', on='Postal Code')
df.head()

,Postal Code,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494